/* Exo 2 (SIL Open Font License) — auto-hébergée, sous-ensemble latin */
@font-face { font-family: 'Exo 2'; font-style: normal; font-weight: 600; font-display: swap; src: url('exo-2-latin-600-normal.woff2') format('woff2'); }
@font-face { font-family: 'Exo 2'; font-style: normal; font-weight: 700; font-display: swap; src: url('exo-2-latin-700-normal.woff2') format('woff2'); }
@font-face { font-family: 'Exo 2'; font-style: normal; font-weight: 800; font-display: swap; src: url('exo-2-latin-800-normal.woff2') format('woff2'); }
